* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
    background-color: transparent;
    background-color: rgb(178, 231, 213);
    border-spacing: 80px 10px;
    letter-spacing: 2px;
}

.nav{
    width: 13%;
}

#navbar a {
    text-decoration: none;
    color:darkmagenta;
    font-size: 1.3rem;
}

img {
    width: 6vw;
}

#hamburger {
    display: none;
}

@media screen and (max-width:800px) {
    #navbar td{
        display: block;
    }

    #hamburger {
        display: block;
        cursor: pointer;
    }
}


/* 
.navigation {
    / margin: 0 auto; /
    color: #b907dd;
    border-spacing: 60px 10px;
    letter-spacing: 2px;
}

.navigation tr td img{
    width: 10%;
}
.navigation tr .burger{
    display: none;
}


@media screen and (max-width:700px) {
    .navigation td{
        display: block;
    }
    .navigation tr .burger{
        display: block;
        cursor: pointer;
    }
} */